In [ ]:
# ini adalah baris komentar
# baris komentar -> baris yang tidak akan dieksekusi/dijalankan
# untuk deskripsi dari kodingan/dokumentasi

# single line komentar -> komentar satu baris
'''
ini komentar baris 1
ini komentar baris 2
-> ingat kita harus mengapit di dalam tanda petik "" atau ''
'''

# komentar juga bisa digunakan untuk mematikan kode

In [ ]:
# Variabel => gelas => air mineral, kopi, teh, susu

angka = 23 # membuat variable dengan nama 'angka'
tinggi = 170 # membuat variable dengan nama 'tinggi'

#usia siswa = 23 # ini tidak boleh karena ada spasi

# rekomendasi penulisan di variable

#camel case
UsiaSiswa = 23

# snake case
usiaSiswa = 23

# pascal case
usia_siswa = 23

 # case sensitive di python
 usia_siswa X UsiaSiswa
 
 # dalam membuat variable usahakan sesuai konteks
 nama_siswa = 179 # ini tidak sesuai konteks
 
 # yang tidak boleh dalam memberikan nama variabel
 # 12nama_usia = "ario" -> tidak boleh karena ada angka di depan
 
 # tidak boleh menggunakan simbol khusus @ # $ % &
 # nama_siswa = "ario"
 
 # boleh angka dibelakang
 usia_siswa1 = 23
 
 # Usia X usia
 
 # nama_siswa@ = "sigit"
 # tidak boleh
 # print(nama_siswa)

In [1]:
# Tipe data
# teks = string
nama = "Aqzha" # ini adalah tipe data string/teks ''""

usia_siswa = 22 # ini tipe data int/bilangan bulat

tinggi_siswa = 175.4 # ini tipe data float (bil desimal)

print(type(nama))
print(type(usia_siswa))
print(type(tinggi_siswa))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# tipe data boolean (2)-> true/false
suka_python = True
print(type(suka_python))

In [ ]:
# tipe data urutan

# list => daftar => [] => semua dimulai dari index [0] => urutan 0

nama_siswa_kelas = ["Edy", "Patt", "Sigit", "Rison", "Angel"]
print(type(nama_siswa_kelas))

<class 'list'>

In [3]:
print(nama_siswa_kelas[0]) # urutan pertama dari list

Edy

In [4]:
# tuple => tidak bisa diubah ketika sudah dibuat => ()
nama_hari = ("senin", "selasa", "rabu")
print(type(nama_hari))

<class 'tuple'>

In [6]:
print(nama_hari[0])

senin

In [ ]:
# range => tipe yang rentang => looping
angka = range(10) # start = 0, stop
print(type(angka))

<class 'range'>

In [7]:
# tipe set => himpunan => {}

himpunan_nilai = {90, 99, 80, 78}
print(type(himpunan_nilai))

<class 'set'>

In [8]:
# dictionary -> kamus -> key:value

buku_telepon = {
    #key : value
    "sigid": 889,
    "aqzha": 887
}
print(type(buku_telepon))

<class 'dict'>

In [ ]:
# input / output
#input

nama = input("Masukkan Nama: ")

#output
print("Nama Saya:", nama)

#saat execute lihat kolom di atas dan isi nama yang dipilih

Nama Saya: senin

In [35]:
# Casting tipe data -> ingin mengubah tipe data
umur = 23 # tipe data int
print(type(umur))

umur = str(umur) # ubah jadi string
print(type(umur))

tinggi = 180.8
tinggi = int(tinggi)
print(tinggi)

<class 'int'>
<class 'str'>
180

In [ ]:
angka = '5'
angka = int(angka) # jika muncul huruf berarti str dan jika muncul angka berarti int
print(type(angka))
print(angka * 2)

<class 'int'>
10

In [13]:
# String
teks = "Joseph Suka Belajar Python"

# akses urutan dengan indexing => []
# akses huruf pertama
print(teks[0])

# akses kata tertentu (:) -> string slicing
print(teks[0:6]) # start:stop(batas berhenti)

# mengalikan 2 x 
print(teks * 2)

print("Hello World")

J
Joseph
Joseph Suka Belajar PythonJoseph Suka Belajar Python
Hello World

In [19]:
# String format => tambah f sebelum tanda petik => {} sebagai placeholder
nama = "Rison"
usia = 24

print(f"nama saya adalah {nama} usia saya {usia}")

nama saya adalah Rison usia saya 24

In [21]:
# Operator
# aritmetika
angka1 = 10
angka2 = 5

print(angka1 + angka2) # ini adalah operator tambah (+)
print(angka1 - angka2) # ini adalah operator kurang (-)
print(angka1 / angka2) # ini adalah operator bagi (/)
print(angka1 * angka2) # ini adalah operator kali (*)
print(angka1 ** angka2) # ini adalah operator pangkat (**)
print(angka1 % angka2) # ini adalah sisa hasil bagi (%)

15
5
2.0
50
100000
0

In [22]:
# operator comparison
print(angka1 > angka2) # ini akan true
print(angka1 < angka2) # false karena lebih kecil
print(angka1 >= angka2) # ini akan true
print(angka1 <= angka2) # ini akan false
print(angka1 == angka2) # ini akan false
print(angka1 != angka2) # ini akan true

True
False
True
False
False
True

In [23]:
# logical operator (and, or, not)
print(angka1 > angka2 and angka1 < angka2) # ini akan false (2 benar)
print(angka1 > angka2 or angka1 < angka2) # ini akan true (1 aja benar=benar)
print(not(angka1 > angka2 and angka1 < angka2)) # ini kebalikannya

False
True
True

In [26]:
# increment
angka = 3
# angka = angka + 3
angka += 3 # increment
print(angka)

# drecement
angka -= 3
print(angka)

6
3

In [27]:
# IF
nilai = 90

# if kondisi:
#   kode apabila kondisi true

nilai = 90
if nilai >= 90: # ini true atau false => true
    print("Dapat A")

Dapat A

In [28]:
# if else
nilai = 88
if nilai >= 90:
    print("Dapat A")
else:
    print("Kurang Gacorr")

Kurang Gacorr

In [31]:
# lebih dari 2
# if elif else
nilai = int(input("Masukkan Nilai:")) # diinput di kolom atas nilainya misal nilainya 55

if nilai >= 90:
    print("A")
elif nilai < 90 and nilai >= 80:
    print("B")
elif nilai < 80 and nilai >= 70:
    print("C")
else:
    print("D")

D

In [32]:
# pass statement => agar kodingan tidak error apabila empty
if nilai == 90:
    pass

In [34]:
# string lower dan upper

teks = "Halo TEMAN-TEMAN SEKALIAN"
print(teks.lower()) # ini untuk menjadi lowercase
print(teks.upper())

halo teman-teman sekalian
HALO TEMAN-TEMAN SEKALIAN

In [40]:
# lebih dari 2
# if elif else
nilai = int(input("Masukkan Nilai:")) # diinput di kolom atas nilainya misal nilainya 55

pesan_lulus = "Selamat kamu lulus" # itu untuk menampung sesuatu => membuat kodingan lebih efisien

if nilai >= 90:
    print("A", pesan_lulus)
elif nilai < 90 and nilai >= 80:
    print("B", pesan_lulus)
elif nilai < 80 and nilai >= 70:
    print("C", pesan_lulus)
else:
    print("D")

A Selamat kamu lulus